In [4]:
import pandas as pd
import numpy as np

In [6]:
data = {
    "City": ["Bogotá", "Medellín", "Cali", "Barranquilla", "Cartagena", "Bucaramanga", "Pereira", "Cúcuta", "Ibagué", "Santa Marta",
             "Manizales", "Villavicencio", "Pasto", "Montería", "Valledupar", "Neiva", "Popayán", "Armenia", "Sincelejo", "Tunja",
             "Florencia", "Riohacha", "Quibdó", "San Andrés", "Yopal", "Leticia", "Arauca", "Mocoa", "Mitú", "Puerto Carreño"],
    "GDP": [103.5, 44.1, 22.4, 16.8, 10.5, 7.3, 6.2, 5.1, 4.8, 4.0, 3.8, 3.5, 3.2, 3.0, 2.8, 2.5, 2.3, 2.1, 2.0, 1.8, 1.7, 1.5, 1.3, 1.2, 1.1, 1.0, 0.9, 0.8, 0.7, 0.6],
    "Population": [7.18, 2.57, 2.23, 1.23, 1.03, 0.58, 0.48, 0.76, 0.53, 0.52, 0.43, 0.50, 0.45, 0.49, 0.47, 0.35, 0.33, 0.30, 0.28, 0.25, 0.20, 0.22, 0.13, 0.08, 0.15, 0.05, 0.08, 0.04, 0.01, 0.01],
    "Unemployment Rate": [10.5, 11.2, 13.8, 12.4, 10.9, 9.2, 12.0, 16.3, 13.4, 11.6, 10.7, 13.0, 12.9, 13.5, 14.8, 14.1, 15.2, 13.3, 16.5, 10.0, 17.5, 15.7, 18.2, 14.0, 11.5, 13.6, 12.2, 15.0, 20.0, 22.0],
    "Average Age": [32, 31, 30, 29, 30, 33, 32, 28, 31, 29, 32, 30, 31, 29, 28, 30, 31, 32, 29, 31, 28, 27, 26, 27, 29, 26, 29, 28, 25, 24],
    "Women (%)": [52, 53, 52, 51, 51, 52, 52, 51, 52, 51, 53, 51, 52, 51, 51, 52, 52, 53, 51, 52, 51, 51, 52, 50, 51, 51, 51, 52, 51, 50],
    "Men (%)": [48, 47, 48, 49, 49, 48, 48, 49, 48, 49, 47, 49, 48, 49, 49, 48, 48, 47, 49, 48, 49, 49, 48, 50, 49, 49, 49, 48, 49, 50],
    "Budget": [18, 7.5, 4.2, 3.1, 2.8, 1.5, 1.3, 1.2, 1.1, 0.9, 0.8, 0.8, 0.7, 0.7, 0.6, 0.6, 0.5, 0.5, 0.5, 0.4, 0.4, 0.3, 0.3, 0.2, 0.2, 0.1, 0.1, 0.1, 0.05, 0.05],
    "Initial Label": [2, 3, 2, 3, 1, 2, 1, 1, 3, 3, 2, 0, 1, 3, 2, 3, 1, 0, 1, 2, 2, 3, 1, 2, 0, 3, 2, 0, 2, 0],
    "Label": ["Yes", "Yes", "Yes", "Yes", "Yes", "No", "Yes", "No", "No", "Yes", "Yes", "No", "No", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes", "Yes",
              "Yes", "No", "Yes", "Yes", "Yes", "No", "No", "Yes", "No", "No"]
}

df = pd.DataFrame(data)
df.head()  # Muestra las primeras filas para verificar

,City,GDP,Population,Unemployment Rate,Average Age,Women (%),Men (%),Budget,Initial Label,Label
0,Bogotá,103.5,7.18,10.5,32,52,48,18.0,2,Yes
1,Medellín,44.1,2.57,11.2,31,53,47,7.5,3,Yes
2,Cali,22.4,2.23,13.8,30,52,48,4.2,2,Yes
3,Barranquilla,16.8,1.23,12.4,29,51,49,3.1,3,Yes
4,Cartagena,10.5,1.03,10.9,30,51,49,2.8,1,Yes